@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&family=Sacramento&family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .card-shadow {
        -webkit-box-shadow: 8px 9px 0px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 8px 9px 0px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 8px 9px 0px 1px rgba(0, 0, 0, 0.75);
    }

    .card-shine-effect {
        --shine-deg: 45deg;
        position: relative;
        overflow: hidden;

        background-repeat: no-repeat;
        background-position: -100% 0, 0 0;

        background-image: linear-gradient(
            var(--shine-deg),
            transparent 20%,
            transparent 40%,
            rgba(237, 217, 217, 0.2) 50%,
            rgba(132, 124, 124, 0.2) 55%,
            transparent 70%,
            transparent 80%
        );

        background-size: 250% 250%, 100% 100%;
        transition: background-position 0s ease;
    }

    .card-shine-effect:hover {
        background-position: 200%0, 0 0;
        transition-duration: 1.5s;
    }

    .glass-effect {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .highlight-text-effect {
        position: relative;
    }

    .highlight-text-white::before {
        background-color: #fff;
    }
    .highlight-text-effect::before {
        /* Highlight color */
        content: '' !important;
        position: absolute;
        width: calc(100% + 4px);
        height: 80%;
        left: -2px;
        bottom: 0;
        z-index: -1;
        transform: rotate(-2deg);
    }

    .highlight-text-brown::before {
        background-color: #383230;
    }

    .btn {
        border: 1px solid #383230;
        position: relative;
    }
    .btn::before,
    .btn::after {
        content: '';
        position: absolute;
    }

    .btn::before {
        top: 1px;
        left: -3px;
        right: -3px;
        bottom: 1px;
        border: 1px solid #383230;
    }

    .btn::after {
        top: 50%;
        left: 0;
        right: 0;
        bottom: auto;
        transform: translateY(-50%);
        opacity: 0;
        height: 100%;
    }
}
